[submodule "middleclass"]
	path = middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "middleclass-extras"]
	path = middleclass-extras
	url = https://github.com/kikito/middleclass-extras.git
[submodule "luahub"]
	path = luahub
	url = https://github.com/gvx/luahub.git